<div class="container">
	<h2 class="createsurvey-heading">{{headerVerb}} Survey</h2>
	<div class="card">
		<div class="card-block">
			<input *ngIf="edit" [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="Survey Name" required autofocus>
			<h4 *ngIf="!edit" class="card-title">{{name}}</h4>
			<input *ngIf="edit" [(ngModel)]="description" name="description" type="textarea" class="form-control" placeholder="Survey Description">
			<h6 *ngIf="!edit" class="card-subtitle text-muted">{{description}}</h6>
		</div>
		<div class="card-footer text-muted">
			<a (click)="edit ? edit = false : edit = true">{{edit ? "Done" : "Edit"}}</a>
		</div>
	</div>
	<hr/>
	<div class="card card-outline-primary question" *ngFor="let question of questions; let i = index;">
		<div class="card-header">
			<i *ngIf="question.type == '1'" class="fi-list-thumbnails"></i>
			<i *ngIf="question.type == '2'" class="fi-align-left"></i>
			<i *ngIf="question.type == '3'" class="fi-photo"></i>
			<i *ngIf="question.type == '4'" class="fi-upload"></i>&nbsp;&nbsp; Question {{i+1}}
			<button class="btn btn-danger btn-sm" (click)="questions.splice(i, 1)"><i class="fi-x"></i></button>
		</div>
		<div class="card-block">
			<div class="question" [ngSwitch]="question.type">
				<input [(ngModel)]="question.question" name="question" type="text" class="form-control" placeholder="Question">
				<div *ngSwitchCase="'1'">
					<!-- Multiple Choice -->
					<button class="btn btn-outline-info" (click)="addOption(question)">Add Option</button>
					<div class="options">
						<div class="option" *ngFor="let option of question.options; let j = index;">
							<input [(ngModel)]="option.text" name="text" type="text" class="form-control" placeholder="Option Text">
							<button class="btn btn-secondary" (click)="question.removeOption(j)">Remove Option</button>
						</div>
					</div>
				</div>
				<div *ngSwitchCase="'2'">
					<!-- Single Textbox -->
				</div>
				<div *ngSwitchCase="'3'">
					<!-- Image Upload -->
				</div>
				<div *ngSwitchCase="'4'">
					<!-- File Textbox -->
				</div>
			</div>
		</div>
	</div>

	<div class="card add-question-card text-xs-center">
		<!--<button class="btn btn-primary" (click)="addQuestion()" data-toggle="modal" data-target="#questionOptions"><i class="fi-plus"></i> Add a new question</button>-->
		<button class="btn btn-primary" data-toggle="modal" data-target="#questionOptions" (click)="(name && description) ? edit=false : ''">
			<i class="fi-plus"></i> Add a new question
		</button>
	</div>
	<button class="btn btn-success" (click)="saveSurvey()">Save</button>

	<!-- Model for question options -->
	<div class="modal fade" id="questionOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
					<h4 class="modal-title" id="myModalLabel">Add a new question</h4>
				</div>
				<div class="modal-body">
					<a (click)="addQuestion(1)" data-dismiss="modal">
						<div class="container">
							<i class="fi-list-thumbnails"></i> Multiple Choice
							<hr/>
						</div>
					</a>
					<a (click)="addQuestion(2)" data-dismiss="modal">
						<div class="container">
							<i class="fi-align-left"></i> Single Textbox
							<hr/>
						</div>
					</a>
					<a (click)="addQuestion(3)" data-dismiss="modal">
						<div class="container">
							<i class="fi-photo"></i> Image Upload
							<hr/>
						</div>
					</a>
					<a (click)="addQuestion(4)" data-dismiss="modal">
						<div class="container">
							<i class="fi-upload"></i> File Upload
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End model for question options -->