<div class="container">
	<button style="margin-bottom: .5rem;" type="button" class="btn btn-md btn-outline-info" (click)="ngOnInit()"><i class="fi-refresh"></i></button>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Survey name</th>
				<th># questions</th>
				<th># participations</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let survey of surveys">
				<th class="id" scope="row">{{survey.$key}}</th>
				<td class="survey-name" ngbPopover="{{survey.description}}" triggers="mouseenter:mouseleave" popoverTitle="Survey Description"
					container="body">{{survey.name}}</td>
				<td class="number-questions">{{survey.questions?.length}}</td>
				<td class="number-participations">XX</td>
				<td class="actions">
					<template #popContent>
						<input value="http://localhost:4200/survey/{{survey.$key}}" #surveyLink>
						<button class="btn" [ngIIclipboard]="surveyLink">
							<i class="fi-paperclip"></i>
						</button>
					</template>
					<button type="button" class="btn btn-secondary" triggers="click:click" placement="left" [ngbPopover]="popContent">Copy Link</button>
					<button type="button" class="btn btn-outline-warning" [routerLink]="['/survey-modify', survey.$key]">Modify</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>