  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Learn AngularJS2: The Basics</title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/lib/angular2/es6-shim.min.js"></script>
    <script src="js/lib/angular2/system-polyfills.js"></script>
    <script src="js/lib/angular2/angular2-polyfills.js"></script>
    <script src="js/lib/angular2/system.src.js"></script>
    <script src="js/lib/angular2/Rx.js"></script>
    <script src="js/lib/angular2/angular2.dev.js"></script>
    <script>
      System.config({
        packages: {
          js: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('js/boot')
        .then(null, console.error.bind(console));
      var app = angular.module('app', ['ionic'])
    </script>
  </head>