<nav class="navbar navbar-dark bg-inverse">
	<div class="container">
		<a class="navbar-brand hidden-sm-up" href="#">
			<img src="../assets/img/GannonUniversityLogo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Class
			Survey
		</a>
		<button class="navbar-toggler hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbar-header"
			aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
	</div>
	<div class="collapse navbar-toggleable-xs" id="navbar-header">
		<a class="navbar-brand hidden-sm-down" [routerLink]="['/']">
			<img src="../assets/img/GannonUniversityLogo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Class
			Survey
		</a>
		<ul class="nav navbar-nav">
			<!--
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/']">Home</a>
			</li>
			-->
			<li *ngIf="!globals.loggedIn" class="nav-item">
				<a class="nav-link" [routerLink]="['/login']">Login</a>
			</li>
			<li *ngIf="!globals.loggedIn" class="nav-item">
				<a class="nav-link" [routerLink]="['/register']">Register</a>
			</li>
			<li *ngIf="globals.loggedIn" class="nav-item">
				<a class="nav-link" [routerLink]="['/survey-overview']">Overview</a>
			</li>
			<li *ngIf="globals.loggedIn" class="nav-item">
				<a class="nav-link" [routerLink]="['/survey-create']">Create Survey</a>
			</li>
			<!--
			<li *ngIf="globals.loggedIn" class="nav-item">
				<button class="btn btn-outline-warning" (click)="logout()">Logout</button>
			</li>
			-->
		</ul>
		<span *ngIf="globals.loggedIn" class="float-xs-right">
			<button class="btn btn-outline-warning" (click)="logout()">Logout</button>
		</span>
		<span class="navbar-text float-xs-right text-muted" *ngIf="globals.loggedIn">
			You are logged in as {{firstName}}!
		</span>
		<span class="navbar-text float-xs-right text-muted" *ngIf="!globals.loggedIn">
			You are not logged in!
		</span>
	</div>
</nav>