<div class="container">
	<div class="col-lg-4 col-md-8 col-sm-12 col-centered">
		<form class="form-register">
			<h2 class="form-register-heading">Create account</h2>
			<div class="form-group">
				<label for="firstName">First name</label>
				<input [(ngModel)]="firstName" name="firstName" type="text" class="form-control" placeholder="John" required autofocus>
			</div>
			<div class="form-group">
				<label for="lastName">First name</label>
				<input [(ngModel)]="lastName" name="lastName" type="text" class="form-control" placeholder="Doe" required autofocus>
			</div>
			<div class="form-group">
				<label for="inputEmail">Email</label>
				<input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="johndoe@example.com" required autofocus>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="at least 6 characters" required>
			</div>
			<div class="form-group">
				<label for="password">Password again</label>
				<input [(ngModel)]="passwordAgain" name="passwordAgain" type="password" class="form-control" required>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register()">Register</button>
		</form>
		<hr/>
		<p>Have an account?</p>
		<a class="btn btn-secondary btn-block" href="/login" role="button">Sign in</a>
	</div>
</div>